<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
      <div class="navbar-brand"><h2 style="color:green">GreenMedic</h2></div>
      <div class="navbar-brand">menadzer {{manager.ime}} {{manager.prezime}}</div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item active">
            <a class="nav-link"  routerLink="/managerUsers">Pacijenti</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/managerDoctors">Lekari</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/managerOffice">Ordinacija</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/managerProfile">Moj profil</a>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-dark" (click)="logout()">Odjavi se</button>
          </li>    
        </ul>
      </div>
    </div>
  </nav>
<br/><br/><br/><br/>

<div class="container text-center" style="width:75%">
  <div class="card" style="width: auto;">
    <div class="card-header">
      Postojeci pacijenti
    </div>
    <form>
      <table class="table tbl">
        <thead>
        <tr>
          <th>Profilna slika</th>
          <th>Pacijent</th>
          <th>Ime pacijenta</th>
          <th>Lozinka</th>
          <th>Adresa</th>
          <th>Telefon</th>
          <th>Imejl</th>
          <th></th>
        </tr>
        </thead>
        <tr *ngFor="let p of patients">
          <th>
            <img src="http://localhost:4000/public/{{p.slika}}" alt="Profilna slika" width="100" height="100">
          </th>
          <td (click)="selectPatient(p)">{{p.korIme}}</td>
          <td (click)="selectPatient(p)">{{p.ime}} {{p.prezime}}</td>
          <td (click)="selectPatient(p)">{{p.lozinka}}</td>
          <td (click)="selectPatient(p)">{{p.adresa}}</td>
          <td (click)="selectPatient(p)">{{p.kontaktTel}}</td>
          <td (click)="selectPatient(p)">{{p.imejl}}</td>
          <td><button (click)="delete(p)" type="button" class="btn btn-danger btn-sm">Obrisi</button> </td>
        </tr>
        </table>  
    </form>
  </div>
</div>

<div class="container text-center" style="width:60%" *ngIf="updateForm">
  <br/>
  <div class="card" style="width: auto;">
    <div class="card-header">
      Azuriranje podataka: {{selectedPatient.ime}} {{selectedPatient.prezime}}
    </div>
    <div class="card-body">
      <form>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <img src="http://localhost:4000/public/{{selectedPatient.slika}}"  style="width:200px; height:200px;border: 5px solid #777;" >
          </li>
          <li class="list-group-item">Nova slika: <input type="file" class="form-control" id="image" required (change)="uploadImage($event)"></li>
          <li class="list-group-item">Novo korisnicko ime:  <input name="info" [(ngModel)]="newUsername" type="text" placeholder="{{selectedPatient.korIme}}"></li>
          <li class="list-group-item">Nova lozinka: <input name="info" [(ngModel)]="newPassword" type="text" placeholder="{{selectedPatient.lozinka}}"></li>
          <li class="list-group-item">Ime: {{selectedPatient.ime}}</li>
          <li class="list-group-item">Prezime: {{selectedPatient.prezime}}</li>
          <li class="list-group-item">Nova adresa: <input name="info" [(ngModel)]="newAdress" type="text" placeholder=" {{selectedPatient.adresa}}"></li>
          <li class="list-group-item">Novi kontakt telefon:<input name="info" [(ngModel)]="newTelephone" type="text" placeholder="{{selectedPatient.kontaktTel}}"></li>
          <li class="list-group-item">Novi email:<input name="info" [(ngModel)]="newEmail" type="text" placeholder="{{selectedPatient.imejl}}"></li>
        </ul>
        <div class="card-body">
          <button  (click)="cancelSelectedPatient()" class="btn btn-secondary">Odustani</button>
          &nbsp;<button (click)="changePatient()"  class="btn btn-success">Promeni podatke</button>
        </div>
      </form>
    </div>
  </div>
</div>

<br/>

<div class="container text-center" style="width:100%">
  <div class="card" style="width: auto">
    <div class="card-header">
      Zahtevi
    </div>
    <form>
      <table class="table tbl">
        <thead>
        <tr>
          <th>Profilna slika</th>
          <th>Korisnicko ime</th>
          <th>Ime i prezime</th>
          <th>Lozinka</th>
          <th>Adresa</th>
          <th>Telefon</th>
          <th>Imejl</th>
          <th>Status</th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tr *ngFor="let r of requests">
          <td>
            <img src="http://localhost:4000/public/{{r.slika}}" alt="Profilna slika" width="100" height="100">
          </td>
          <td>{{r.korIme}}</td>
          <td>{{r.ime}} {{r.prezime}}</td>
          <td>{{r.lozinka}}</td>
          <td>{{r.adresa}}</td>
          <td>{{r.kontaktTel}}</td>
          <td>{{r.imejl}}</td>
          <td>{{r.status}}</td>
          <td><button *ngIf="showButton(r)"(click)="accept(r)" type="button" class="btn btn-success btn-sm">Prihvati</button> </td>
          <td><button *ngIf="showButton(r)"(click)="deny(r)" type="button" class="btn btn-danger btn-sm">Odbaci</button> </td>
        </tr>
      </table>  
    </form>
  </div>
</div>