@import url(//fonts.googleapis.com/css?family=Lato:300:400);


input{
    text-align: center;
}

div{
    font-family: 'Lato', sans-serif;
    width: auto;
}


.containerWidth{
    width: 100%;
    height: auto;
}

.content-center{
    display:flex;
    justify-content: centre;
    align-items: centre;
}


.tbl {width: 100%;}
.tbl tr {background-color: rgb(255, 255, 255); height: 100%}
.tbl tr:hover {background-color: rgb(220, 220, 220); cursor: pointer;}


  
